*{
  border-size:border-box;
  font-family: 'Microsoft JhengHei' ,'新細明體';
}
html{
  font-size: 16px;
}
h1{
  color: #FF7744;
  font-size: 5rem;
}
h2{
  color: black;
  font-size: 2rem;
}
h4{
  color: rgb(255, 50, 0);
  font-size: 3rem;

}
h5{

  font-size: 2rem;
}
p{
  font-size: 1.4rem;
}

#jumper{
  position: fixed;
  align-self: center;
  background-color: rgba(256,256,256,0.3);
  clear: left;
  width: 100%;
  z-index: 10;
}


.underline{
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 4px solid #FF7744;

}
.front_img{
  width: 32%;
  border-color: 	#FF7744;
  border-width: 1rem;
  border-style: solid;
  border-radius: 99%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.line{
  color: red;
  size:100px;
}
body{
  background-image: url("../images/bg.jpg")  ;
  background-repeat:repeat;
  position: relative;
}
.intro{
  margin-bottom: 6rem;
  margin-top: 6rem;
}
section{
  margin-left: 4rem 8rem 4rem 8rem;
  font-size: 2rem;
}
section.img{
  margin: 0,auto;
}
#portfolio img{
  max-width: 180px;
  max-height: 180px;
  margin-top: 2rem;
  border-radius: 9999px;
}

footer{
  padding :4rem;
}
#r{
  padding-right:20px;
  margin: 2rem;
  max-width: 500px;
}

#portfolio-wrapper
{
  /*background: rgba(0,0,0,.04);*/
  opacity: 0.9;
  width: 100%;
  padding: 3em 0em;
  font-size: 1.3rem;
  /*color: rgba(255,255,255,.7);*/
}

#portfolio
{
  overflow: hidden;
  background-color: rgba(211,211,211,0.8);
  width: 78%;
  padding: 1rem 0rem;

}

#portfolio .title
{
  font-size: 4em;
  color: #FFF;
}

#portfolio .byline
{
  font-size: 1em;
  color: black;
}

#column1,
#column2,
#column3,
#column4
{
  width: 200px;
}

#column1,
#column2
{
  float: left;
  margin-right: 24px;
}

#column3
{
  float: left;
  margin-right: 24px;
}

#column4
{
  float: right;
}


/*navbar*/

#skel-layers-wrapper {
  padding-top: 3em;
}

#header {
  background: #CFAFCB;
  color: #9955FF;
  cursor: default;
  height: 3em;
  left: 0rem;
  line-height: 3em;
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 10000;

}

  #header h3 {
    color: #9955FF;
    font-weight: 500;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0rem;
    padding: 0;
    position: absolute;
    top: 0;
  }
.pur {
  color: #ffffff;
}
    #header h1 a {
      font-size: 1.25em;
    }

  #header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 3em;
    top: 0;
    vertical-align: middle;
  }

    #header nav > ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }

      #header nav > ul > li {
        border-radius: 9999px;
        display: inline-block;
        margin-left: 2em;
        padding-left: 0;
      }

        #header nav > ul > li a {
          -moz-transition: color 0.2s ease-in-out;
          -webkit-transition: color 0.2s ease-in-out;
          -o-transition: color 0.2s ease-in-out;
          -ms-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
          color: #FFFFFF;
          display: inline-block;
          text-decoration: none;
        }

          #header nav > ul > li a:hover {
            color: #629DD1;
          }

        #header nav > ul > li:first-child {
          margin-left: 0;
        }

        #header nav > ul > li .button {
          height: 2.25em;
          line-height: 2.25em;
          margin-bottom: 0;
          padding: 0 1em;
          position: relative;
          top: -0.075em;
          vertical-align: middle;
        }

  #header .container {
    position: relative;
  }

    #header .container h1 {
      left: 0;
    }

    #header .container nav {
      right: 0;
    }
